
.valuedisplay{
    padding-left: 10px;
}
.header{
    font-size: x-large;
    font-weight: bolder;
    margin-bottom: 5px;
}
.items{
    margin: 10px;
    font-weight: bolder;    
}
.singlebankitem{
    display: flex;
   font-weight: bolder;
}