.header-title{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.header-option{
    align-items: end;
    display: ruby;
    cursor: pointer;
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 40px;
    margin-top: -5%;
}
.list-name{
   
    padding-right: 20px;
   
}
.button{
    user-select: none;
}

.profitstylecardheard {
    border-radius: 20px;
    
    background: linear-gradient(#ffffff, #0000002e);
}

.profitstyle {
    display: ruby;
    font-size: large;
    font-weight: bolder;
    margin: 0;
}

.profitstyle .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
